html
  head
    title Gif Booth!
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='style.css')
  body
    // main container
    #main.container-fluid
      h1 Gif Booth!
      #tweets.row
    script(src='main.js')
