// style.scss

@import 'bootstrap_variables';
@import 'bootstrap';
@import 'ribbons';

.fa-li {
  padding: 10px 15px;
}

.tweet {
  padding: 0;
}

body {
  @media (max-width: $screen-sm-min) {
    padding-top: 2em;
  }
}

video {
  width: 100%;
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-3by2 {
  padding-bottom: 66.6667%;
}

.btn-share {
  bottom: 10px;
  position: absolute;
  right: 10px;
  z-index: 100;
}

#load-more {
  margin: 20px;
}

#lead {
  margin-top: 2em;

  .img-responsive {
    margin: 0 auto;
  }

  ul {
    padding-left: 0;
    font-family: 'Helvetica Neue', 'proxima-nova', Helvetica, Arial, sans-serif;
    color: rgb(35.7, 30.6, 33.15);
    text-transform: uppercase;
    letter-spacing: 1px;
    // font-variant: small-caps;
    a {
      color: black;
    }
  }

  li {
    display: inline;
    list-style: none;
  }

  li:after { content: ' \02022  '; }

  li:last-child:after { content: none; }
}

.top-bar {
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
  background: #1b9;

  a {
    display: block;
    padding: .4em;
    margin: 0 auto;
    color: $gray-light;
    text-decoration: none;
  }
}

#about {
  min-height: 100%;
  padding-top: 10%;

  #year {
    padding-top: 10%;
  }
}
