<div id="{{tweet_id}}" class="tweet col-sm-6 col-md-4 col-lg-3">
  <div class="embed-responsive embed-responsive-3by2">
    <button class="btn-share btn btn-default"><span class="glyphicon glyphicon-share"></span></button>
    {{!-- <video class="embed-responsive-item" src="{{mp4_url}}" loop="loop" autoplay="autoplay" poster="{{thumbnail}}"> --}}
    <img class="embed-responsive-item" src="{{gif_url}}" alt="cool gif" />
  </div>
</div>
