<div class="modal fade" id="{{tweet_id}}-share">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Share</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-stacked nav-pills fa-ul">
          <li role="presentation"><a class="btn-tweet" data-media-id="{{media_id}}" href="#"><i class="fa fa-li fa-twitter"></i> Tweet .gif</a></li>
          <li role="presentation"><a class="btn-fb" href="#"><i class="fa fa-li fa-facebook"></i> Post .gif to Facebook</a></li>
          <li role="presentation"><a href="#" target="_blank" class="btn-tumbl"><i class="fa fa-li fa-tumblr"></i> Post .gif to Tumblr</a></li>
          <li role="presentation"><a href="#" class='btn-email'><i class="fa fa-li fa-envelope"></i> Email .gif</a></li>
          <li role="presentation"><a href="#" class='btn-mms'><i class="fa fa-li fa-mobile"></i> MMS .gif</a></li>
          <li role="presentation"><a href="{{gif_url}}"><i class="fa fa-li fa-download"></i> Download as .gif</a></li>
          <li role="presentation"><a href="{{mp4_url}}"><i class="fa fa-li fa-download"></i> Download as .mp4</a></li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
